<div class="backdrop__team-modal">
    <div class="team-modal">
        <button class="team-modal__btn-close" type="button">X
            <!-- <svg width="11" height="11">
                <use href="./"></use>
            </svg> -->
        </button>
        <h2 class="team-modal__title">OUR BEST TEAM OF DEVELOPERS!</h2>
        <ul class="team-modal__list">
            <li class="team-modal__card">
                <picture>
                    <!-- <source srcset="./ 1x, ./ 2x" media="(min-width: 1280px )">
                    <source srcset="./ 1x, ./ 2x" media="(min-width: 768px )">
                    <source srcset="./ 1x, ./ 2x"> -->
                    <img class="team-modal__img" src="./images/team-modal/Vitaliy.jpg" alt="man Vitaliy">
                </picture>
            <div class="team-modal__box">
                <h3 class="team-modal__box-title">Vitaliy Khivrych</h3>
                <p class="team-modal__text">Team-Lead</p>
            </div>
            </li>
            <li class="team-modal__card">
                <picture>
                    <!-- <source srcset="./ 1x, ./ 2x" media="(min-width: 1280px )">
                    <source srcset="./ 1x, ./ 2x" media="(min-width: 768px )">
                    <source srcset="./ 1x, ./ 2x"> -->
                <img class="team-modal__img" src="./images/team-modal/Natalia.jpg" alt="woman Natalia">
                </picture>
            <div class="team-modal__box">
                <h3 class="team-modal__box-title">Natalia Delicheban</h3>
                <p class="team-modal__text">Scrum-Master</p>
            </div>
            </li>
            <li class="team-modal__card">
                <picture>
                    <!-- <source srcset="./ 1x, ./ 2x" media="(min-width: 1280px )">
                    <source srcset="./ 1x, ./ 2x" media="(min-width: 768px )">
                    <source srcset="./ 1x, ./ 2x"> -->
                    <img class="team-modal__img" src="./images/team-modal/Dima.jpg" alt="man Dima">
                </picture>
            <div class="team-modal__box">
                <h3 class="team-modal__box-title">Dima Zharyy</h3>
                <p class="team-modal__text">Web Developer</p>
            </div>
            </li>
            <li class="team-modal__card">
                <picture>
                    <!-- <source srcset="./ 1x, ./ 2x" media="(min-width: 1280px )">
                    <source srcset="./ 1x, ./ 2x" media="(min-width: 768px )">
                    <source srcset="./ 1x, ./ 2x"> -->
                    <img class="team-modal__img" src="./images/team-modal/Viktoria.jpg" alt="woman Viktoria">
                </picture>
            <div class="team-modal__box">
                <h3 class="team-modal__box-title">Viktoria Fomenko</h3>
                <p class="team-modal__text">Web Developer</p>
            </div>
            </li>
            <li class="team-modal__card">
                <picture>
                    <!-- <source srcset="./ 1x, ./ 2x" media="(min-width: 1280px )">
                    <source srcset="./ 1x, ./ 2x" media="(min-width: 768px )">
                    <source srcset="./ 1x, ./ 2x"> -->
                    <img class="team-modal__img" src="./images/team-modal/Ihor.jpg" alt="man Igor">
                </picture>
            <div class="team-modal__box">
                <h3 class="team-modal__box-title">Igor Smelyanets</h3>
                <p class="team-modal__text">Web Developer</p>
            </div>
            </li>
            <li class="team-modal__card">
                <picture>
                    <!-- <source srcset="./ 1x, ./ 2x" media="(min-width: 1280px )">
                    <source srcset="./ 1x, ./ 2x" media="(min-width: 768px )">
                    <source srcset="./ 1x, ./ 2x"> -->
                    <img class="team-modal__img" src="./images/team-modal/Yevhen.jpg" alt="man Yevhen">
                </picture>
            <div class="team-modal__box">
                <h3 class="team-modal__box-title">Yevhen Podoliaka</h3>
                <p class="team-modal__text">Web Developer</p>
            </div>
            </li>
            <li class="team-modal__card">
                <picture>
                    <!-- <source srcset="./ 1x, ./ 2x" media="(min-width: 1280px )">
                    <source srcset="./ 1x, ./ 2x" media="(min-width: 768px )">
                    <source srcset="./ 1x, ./ 2x"> -->
                    <img class="team-modal__img" src="./images/team-modal/Oleksandr.jpg" alt="man Oleksandr">
                </picture>
            <div class="team-modal__box">
                <h3 class="team-modal__box-title">Oleksandr Suprun</h3>
                <p class="team-modal__text">Web Developer</p>
            </div>
            </li>
            <li class="team-modal__card">
                <picture>
                    <!-- <source srcset="./ 1x, ./ 2x" media="(min-width: 1280px )">
                    <source srcset="./ 1x, ./ 2x" media="(min-width: 768px )">
                    <source srcset="./ 1x, ./ 2x"> -->
                    <img class="team-modal__img" src="./images/team-modal/Kevin.jpg" alt="man Samvel">
                </picture>
            <div class="team-modal__box">
                <h3 class="team-modal__box-title">Samvel Ogmrtsyan</h3>
                <p class="team-modal__text">Web Developer</p>
            </div>
            </li>
        </ul>
    </div>
</div>

