<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Gallery list</h2>
    <ul class="gallery"></ul>
    <div class="pagination">
      <button class="pagination__arrow pagination__arrow-left">
        <svg class="pagination-arrow-icon">
          <use href="./images/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul class="pagination-list">
        <li class="item">
          <button class="pagination__btn">1</button>
        </li>
        <li class="item">
          <button class="pagination-btn-more">...</button>
        </li>
        <li class="item">
          <button class="pagination__btn">13</button>
        </li>
        <li class="item">
          <button class="pagination__btn">14</button>
        </li>
        <li class="item">
          <button class="pagination__btn pagination__btn--choice">15</button>
        </li>
        <li class="item">
          <button class="pagination__btn">16</button>
        </li>
        <li class="item">
          <button class="pagination__btn">17</button>
        </li>
        <li class="item">
          <button class="pagination-btn-more">...</button>
        </li>
        <li class="item">
          <button class="pagination__btn">20</button>
        </li>
      </ul>
      <button class="pagination__arrow pagination__arrow-right">
        <svg class="pagination-arrow-icon">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
