<div class="container">
<h2 class="is-hidden">gallery</h2>
<ul class="gallery-list-card">
    <li class="item">
       <div class="gallery-card-container">
        <img src="./images/poster.jpg" alt="">
       </div>
    </li>
    <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
     <li class="item">
        <div class="gallery-card-container">
         <img src="./images/poster.jpg" alt="">
        </div>
     </li>
</ul>
<div class="gallery-button-container">
    <button class="gallery-left-btn">
        <svg class="gallery-left-icon">
            <use href="./images/sprite.svg#icon-arrow-left"></use>
        </svg>
    </button>
<ul class="gallery-button-list">
<!-- <li class="item">
    <button class="number-btn">1</button>
</li>
<li class="item">
    <button class="more-btn">...</button>
</li>
<li class="item">
    <button class="number-btn">13</button>
</li>
<li class="item">
    <button class="number-btn">14</button>
</li>
<li class="item">
    <button class="choice-btn">15</button>
</li>
<li class="item">
    <button class="number-btn">16</button>
</li>
<li class="item">
    <button class="number-btn">17</button>
</li>
<li class="item">
    <button class="more-btn">...</button>
</li>
<li class="item">
    <button class="number-btn">20</button>
</li> -->
</ul>
<button class="gallery-right-btn">
    <svg class="gallery-right-icon">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
</button>
</div>
</div>