<section class="gallery__section">
  <div class="container gallery__container">
    <h2 class="visually-hidden" hidden>Gallery list</h2>
    <ul class="gallery">
      <!-- <li class="gallery__item card">
        <img
          class="card__image"
          src="./images/poster.jpg"
          alt=""
          loading="lazy"
        />
        <div class="card__info">
          <p class="card__title">A FISTFUL OF LEAD</p>
          <div class="card__movie-info">
            <p class="card__genre">Western</p>
            <span class="vertical">&nbsp|&nbsp</span>
            <p class="card__release">2019</p>
            <p class="card__rating">7.3</p>
          </div>
        </div>
      </li> -->
    </ul>
    <div class="pagination"></div>
  </div>
</section>
