.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  border-radius: 5px;
  background-color: var(--white-colore);
  padding: 48px 20px 40px 20px;
  overflow-y: auto;

  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-height: 90%;
  max-width: 280px;

  @include tablet {
    max-width: 704px;
    max-height: 552px;
    padding: 40px 64px 40px 44px;
    display: flex;
  }

  @include desktop {
    max-width: 806px;
    max-height: 558x;
    padding: 40px 12px;
    overflow: visible;
  }
}

.modal__img {
  border-radius: 5px;
  margin-bottom: 20px;

  @include tablet {
    width: 264px;
    height: 374px;
    margin-bottom: 0;
    margin-right: 68px;
  }

  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.modal__description-wrap {
  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 391px;
  }
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  @include desktop {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal__info {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 100%;
  &-key {
    color: #8c8c8c;
  }
  &-value {
    color: var(--primery-text-color);
  }

  td {
    width: 50%;
  }
}
.modal__info-value--accent {
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;
  border-radius: 5px;
  color: var(--white-colore);
  background-color: var(--activ-btn-color);
}
.modal__info-key--accent {
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.modal__about-title {
  font-size: 12px;
  line-height: 1.33;
}

.modal__about-text {
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 20px;
}

.modal__option {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    justify-content: space-around;
  }

 

  button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.33;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
    width: 110px;
    height: 44px;
    @include tablet {
      width: 125px;
    }
    @include desktop {
      width: 136px;
    }

    &:hover {
      background-color: var(--activ-btn-color);
      color: var(--white-colore);
      border: transparent;
    }
  }
}

.modal__close {
  position: absolute;
  border: transparent;
  background-color: transparent;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  font-weight: 700;
  &:hover {
    color: var(--activ-btn-color);
  }
}
