.header {
  height: 216px;
  padding-top: 40px;

  background-image: url(../images/header/header-home-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/header-home-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/header/header-home-tab-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-home-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/header/header-home-desk-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header-home-desk-2x.jpg);
    }
  }

  // ================== Убрать при переносе в JS ======================
  &:first-child {
    margin-bottom: 20px;
  }
}

.additional-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56) 100%
    ),
    url(../images/header/header-lib-mob-1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56) 100%
      ),
      url(../images/header/header-lib-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56) 100%
      ),
      url(../images/header/header-lib-tab-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56) 100%
        ),
        url(../images/header/header-lib-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56) 100%
      ),
      url(../images/header/header-lib-desk-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56) 100%
        ),
        url(../images/header/header-lib-desk-2x.jpg);
    }
  }
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.additional-margin {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header__logo {
  color: #ffffff;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__icon {
  width: 24px;
  height: 24px;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.header__text {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;

    color: #ffffff;
  }
}

.nav-list {
  display: flex;
}

.nav-list__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.nav-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: #ffffff;
}

.nav-list__link--current {
  border-bottom: 3px solid #ff001b;
}

.search-form-wrap {
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.search-form {
  width: 100%;
}

.search-form__input {
  width: 100%;
  height: 20px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;

  color: #ffffff;

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: #ffffff;
  }
}

.search-form__button-submit {
  position: absolute;
  top: 0;
  right: 6px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
}

.search-form__button-icon {
  width: 12px;
  height: 12px;
}

.notification {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #ff001b;

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.button-list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.button-list__item {
  width: 129.5px;
  height: 44px;

  @media screen and (min-width: 768px) {
    width: 152px;
  }

  @media screen and (min-width: 1280px) {
    width: 148px;
    height: 42px;
  }

  &:first-child {
    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 16px;
    }
  }
}

.button-list__btn {
  width: 100%;
  height: 100%;
  padding: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 5px;
  background: transparent;
}

.button-list__btn--current {
  border: none;
  background: #ff6b01;

  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
